{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Megrim|Vollkorn|Pacifico" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}"/>
<body style="background-color: #fff;">
<div id="brand-logo" style="font-family: 'Megrim', cursive; font-size: 70px; text-align: center; padding: 20px;">SongApp</div>
<div style="text-align: center; padding: 20px; font-size: 30px">Sign Up</div>

<div id="content-container" class="container p-none">
    <div class="lgn-container col-lg-8 col-lg-offset-2">
        <form id="signup-form" method="post">{% csrf_token %}
            <table class="table">
                <tr>
                    <td><label for="id_username">Username</label></td>
                    <td><input id="id_username" name="username"
                               type="text" class="form-control">
                        <span class="helptext">
                            Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                        </span>
                        {% if form.errors.username %}
                            <br>
                            <p class=" label label-danger">
                                A user with same username already exists. Please choose different username.
                            </p>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td><label for="id_password1">Password</label></td>
                    <td><input id="id_password1" name="password1"
                               type="password" class="form-control">
                                <span class="helptext">
                                    Your password can't be too similar to your other personal information.
                                    <br>Your password must contain at least 8 characters.
                                    <br>Your password can't be a commonly used password.
                                    <br>Your password can't be entirely numeric.
                                </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="id_password2">Confirm Password</label></td>
                    <td><input id="id_password2" name="password2"
                               type="password" class="form-control">
                        {% if form.errors.password2 %}
                            <br>
                            <p class=" label label-danger">
                                Passwords don't match
                            </p>
                        {% endif %}
                    </td>
                </tr>
            </table>

            <input type="submit" value="Signup"
                   class="btn btn-primary pull-right" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <div><a href="{% url 'login' %}">Login instead</a></div>
    </div>
</div>
</body>
